.block_text {
    margin:0 20px ;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: column;
}
.name_page {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
.description {
    font-size: 2rem;
}
.description a {
    background-color: #e6e6e6;
}
@media (max-width: 1155px) {
    .description {
        font-size: 1.4rem;
    }
}