$padding-in-sections: 23rem;
%style-of-section {
    margin-top: 2rem;
    display: flex;
    border-bottom: 2px solid #ef800b;
    padding-bottom: 100px;
}
%style-of-section-header {
    position: absolute;
    font-weight: bold;
    font-size: 1rem;
}
.main_page {
    margin: 0 40px;
}
.name_vkr {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #ef800b;
}
.name_vkr h1 {
    font-size: 4rem;
    padding-left: $padding-in-sections;
    margin-bottom: 3rem;
}
.first_word_name_project {
    border-top: 3px solid #ef800b;
    border-left: 3px solid #ef800b;
}
.first_section {
    @extend %style-of-section;
}
.first_section header {
    @extend %style-of-section-header;
}
.second_section {
    @extend %style-of-section;
}
.second_section header {
    @extend %style-of-section-header;
}
.second_section h2 {
    padding-left: $padding-in-sections;
    margin-top: -0.5rem;
}
.about_blocks {
    width:100%;
    display: flex;
    padding-left: $padding-in-sections;
    justify-content: space-between;
    margin-top: -1.5rem;
}
.about_blocks span {
    color:#808080;
}

.third_section header {
    @extend %style-of-section-header;
}
.third_section {
    @extend %style-of-section;
}
.third_section h1 {
    padding-left: $padding-in-sections;
    font-size: 2.5rem;    
    margin-top: -0.7rem;
}
.third_section h1 span {
    margin-bottom: 4px;
}
.fourth_section {
    margin-top: 2rem;
    border-bottom: 2px solid #ef800b;
    padding-bottom: 100px;
}
.fourth_section header {
    @extend %style-of-section-header;
}
.fourth_section h2 {
    padding-left: $padding-in-sections;
    margin-top: -0.5rem;
}
.block_photos_fourth_section {
    padding-left: $padding-in-sections;
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
}
.solo_block {
    border:1px solid #ef800b;
    border-radius: 30px;
    width: 31%;
    display: flex;
    flex-direction: column;
}
.solo_block h3{
    margin-left: 1rem;
    font-size: 1.5rem;

}
.solo_block p {
    margin: 0 1rem;
    margin-bottom: 1rem;
    color:#808080;
}
.points_in_block {
    list-style-type: none;
    padding: 0 1rem;
}
.points_in_block li {
    margin-bottom: 1rem;
}
.image_block {
    padding: 0 1rem;
}

.fifth_section {
    margin-top: 2rem;
    border-bottom: 2px solid #ef800b;
    padding-bottom: 100px;
}
.fifth_section header {
    @extend %style-of-section-header;
}
.fifth_section h2 {
    padding-left: $padding-in-sections;
    margin-top: -0.5rem;
}
.block_photos_fifth_section {
    padding-left: $padding-in-sections;
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
}
.first_photo_on_string {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid #ef800b;
}
.first_photo_on_string p, .second_photo_on_string p {
    color:#808080;
    margin: 0px 5px;
}
.first_photo_on_string div {
    margin-right: 5px;
}
.second_photo_on_string {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
}
.sixth_text p{
    padding-left: $padding-in-sections;
    color:#808080;
}
@media (max-width: 1155px) {
    .first_section header,  .second_section header, .third_section header{
        position: absolute;
        top: -44px;
        padding-right: 10px;
        display: block;
        background-color: white;
    }
    .fourth_section header,  .fifth_section header {
        top: -37px;
        position: absolute;
        padding-right: 10px;
        display: block;
        background-color: white;
    }
    .main_page {
        margin: 0 20px;
    }
    .main_page section {
        position: relative;
    }
    .about_blocks{
        padding-left: 0;
        flex-direction: column;
    }
    .block_photos_fifth_section {
        padding-left: 0;
    }
    .fifth_section h2 {
        padding-left: 0;
    }
    .fourth_section h2 {
        padding-left: 0;
        margin-top: -0.5rem;
    }
    .block_photos_fourth_section {
        padding-left: 0;
    }
    .third_section h1 {
        padding-left: 0;
        font-size: 1.5rem;
    }
    .second_section h2 {
        padding-left: 0;
        margin-top: -0.5rem;
    }
    .about_blocks {
        width:100%;
        display: flex;
        padding-left: 0;
    }
    .name_vkr h1 {
        font-size: 1.8rem;
        padding-left: 0;
    }
    .sixth_text p{
        padding-left:0;
    }
    .block_photos_fourth_section {
        flex-direction: column;
    }
    .solo_block {
        width: 100%;
        margin-bottom: 10px;
    }
    .block_photos_fifth_section {
        flex-direction: column;
    }
    .first_photo_on_string {
        border-right: 0;
    }
}