$font-color-for-kozlov: #f9d9cb;
.allcards {
  width:100%;
  height:auto;
  display: flex;
  justify-content: center;
}
.card {
  color:white;
  width:1350px;
  height:auto;
  background: #373a47;
  border-radius: 20px;
  margin:20px;
}
.incard {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}
.description {
  width:40%;
  position: relative;
  display: flex;
  padding-bottom: 50px;
  justify-content: flex-end;
} 
.buttposition {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
} 
.button_pos {
  position: absolute;
  bottom: 0;
}
.button {
  appearance: none;
  backface-visibility: hidden;
  background-color: #111420;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button:hover {
  background-color: #46576d;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button:hover:after {
  opacity: .5;
}

.button:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.button:active:after {
  opacity: 1;
}
.description_text {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.block_text {
  font-size: 1.3rem;
}
.block_name {
  display: flex;
  font-size: 2.5rem;
  font-weight: bold;
  justify-content: center;
}
.block_name a{
  color: black;
  background-color: $font-color-for-kozlov; 
}
.block {
  margin: 40px;
}
.block_content {
  margin-top: 40px;
  display: flex;
}
.description_block {
  width:40%;
  font-size: 2rem;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.block_link_style {
  text-align: center;
}
.link_decor {
  text-decoration: none;
}
.link_decor:hover {
  text-decoration: underline;
} 
.name_student { 
  background-color:#f9d9cb ;
}
.first_word {
  border-left: 2px solid #ef800b;
  border-top: 2px solid #ef800b;
}
.last_word {
  border-right: 2px solid #ef800b;
  border-bottom: 2px solid #ef800b;
}
@media (max-width:1350px) {
  .card{
    width:100%
  }
}

@media (max-width:1155px) { // вкл мобилки
  .description_text {
    font-size: 1.3rem;
  }
  .image {
    display: none;
  }
  .description_text {
    font-size: 1.3rem;
  }
  .incard {
    display: block;
  }
  .description {
    width:100%;
  }
}

@media (min-width: 768px) {
  .button {
    padding: 14px 22px;
    width: 176px;
  }
}





