.head {
    text-align: center;
}
.block_img {
    width:50%;
    margin:10px;
    justify-content: center;
    display: flex;
}
.block_project {
    display: flex;
    margin-bottom: 50px;
}
.block_text {
    width:50%;
}
@media (max-width: 1155px) {
    .block_project {
        flex-direction: column-reverse;
    }
    .block_img {
        width:100%;
        margin:0px;
    }
    .block_text {
        width:auto;
        margin: 10px;
    }
}

