@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
#App {
    /* Give app full page to work with */
    height: 80px;
    text-decoration: none; 
  }
  #page-wrap {
    text-align: center;
    /* Prevent sidebar from showing a scrollbar on page */
    overflow: auto;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 20px;
    color: #d1d1d1;
    border-bottom: 2px inset #424245;
    transition: color 0.2s;
  }
  
  /* Change color on hover */
  .bm-item:hover {
    color: white;
  }
  
  /* The rest copied directly from react-burger-menu docs */
  
  /* Position and sizing of burger button */
  .bm-burger-button {
    position: fixed;
    width: 24px;
    height: 17px;
    left: 25px;
    top: 25px;
  }
  
  /* Иконка бургера */
  .bm-burger-bars {
    background: #cccccc;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Кнопка закрытия бара */
  .bm-cross {
    background: #cccccc;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: black;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: white;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  .menu-item a {
      text-decoration: none;
      color:black;
  }
  .burger_text {
      text-decoration: none;
      color:#cccccc;
      font-size: 1.3rem;
      display: block;
  }
  @media (min-width: 1155px) { //пока больше не показывает burger-menu
  
  }